# .gitignore

# Ignore macOS .DS_Store files
.DS_Store

# Ignore Cypress screenshots
cypress/screenshots/

# Ignore Cypress support pages
cypress/support/pages/

# Ignore Mochawesome HTML reports
mochawesome-report/

# Ignore Node.js modules
node_modules/

